@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Catamaran");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body{
	font-family: 'Catamaran', serif; 
	font-size: 18px;
}
h1,h2,h3,h4,h5{
	font-family: 'Bowlby One SC', sans-serif; 
}
a{
	text-decoration: none;
}
h3{
	font-size: 12px;
}
p{
	text-align: justify;
}
